<!-- FROM navigation.html - CHANGE TO USE url_for here-->
<div class="container">
  <div class="row">
              <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
      <header>
    <h1 class="pt-5 pb-2">Generic site title here</h1>
   <nav>
    <a href="/">Home</a>
    <a href="/register1">Form 1</a>
    <a href="/register2">Form 2</a>
  </nav>
          {%  if user %}
          <p>Hello {{ user }}</p>
          {% endif %}
            {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
               <!-- check why this isn't appearing as alert properly -->
		<div class="alert alert-warning" role="alert">
			<strong>{{ message }}</strong>
		</div>
    {% endfor %}
  {% endif %}
{% endwith %}

</header>
  </div>
  </div>
</div>
<!-- navigation.html ends here-->
